.App {
  text-align: center;
}
.text-center {
  width:30%;
  margin-left: 35%;
}
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
.sriracha-font{
  font-family: 'Sriracha', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/********************* Home Page **********************/
.wrapper {
  position: relative;
  background: url(./photos/port-home-page.webp) no-repeat;
  background-size: cover;
  background-position: center;
  height:94vh;
}

.wrapper-info {
  display: flex;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper-info h1 {
  color: lightsalmon;
  text-transform: uppercase;

}

ul {
  list-style-type: none;
  
}
/* Custom Nav */
.nav-color{
  background-color: lightsalmon;
}

.center-horizon {
  margin: auto;
}


